@charset "UTF-8";
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .container{
        width:100%;
    }   
    .v,
    .vh{
        transition: all linear .3s;
        height: auto !important;
        border-bottom: 8px solid #0066b8;
    }
    .vh{
        visibility: visible !important;
        height: auto !important;
    }
    header{
        position: relative;
        padding: 15px;
        background-color: #2c2c32;
    }
    .container .h-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container .h-flex .i img{
        width: 30px;
        height: 30px;
        background-size: contain;
        margin-right: 15px;
    }
    header .i{
        display: flex;
        align-items: center;
    }
    header .i span{
        color: #fff;
        font-weighT: 900;
    }
    header .nav{
        height: 0;
        transition: height linear 2s;
        overflow: hidden;
        z-index: 1;
        position: absolute;
        background-color: #000;
        top: 53px;
        color: #fff;
        left: 0;
        width: 100%;
    }
    header .nav nav a{
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;
    }
    header .nav nav a:hover{
        background-color: #fff;
        transition: all linear .3s;
        color: #000;
    }
    header .ii button{
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid transparent;
    }
    header .ii button:hover{
        background-color: #0066b8;
        cursor: pointer;
        transition: all linear .3s;
    }
    header .ii button i{
        font-size: 20px;
        color: #fff;
    }
    main .i{
        background-color: #25252b;
        padding: 15px 50px;
        text-align: center;
        font-size: 17px;
    }
    main .i .i-cont a{
        color: #0066b8;
        text-decoration: none;
    }
    main .i .i-cont{
        color: #fff;
    }
    main .ii{
        background-color: #2c2c32;
        padding: 25px 0;
    }
    main .ii p,
    main .ii .p-i,
    main .ii .p-ii,
    main .ii .p-iii{
        margin: 0 !important;
        text-align: center;
    }
    main .ii .p-i,
    main .ii .p-ii{
        font-size: 45px;
        color: #fff;
    }
    main .ii .p-ii{
        font-weight: 600;
    }
    main .ii .p-iii{
        margin: 10px 0 !important;
        color: rgba(255,255,255,.6);
        font-size: 17px;
        margin-bottom: 20px !important;
    }
    main .ii .ii-i .btn-group{
        display: flex;
        justify-content: center;
    }
    main .ii .ii-i .btn-group{
        position: relative;
    }
    main .ii .btn-group button{
        border: none;
        padding: 10px;
        background-color: #0066b8;
        color: #fff;
        cursor: pointer;
    }
    main .ii .btn-group button span{
        font-weight: 900;
        font-size: 15px;
    }
    main .ii .btn-group button:first-child{
        margin-right: 3px;
        width: 260px;
    }
    main .ii .btn-group button:last-child{
        width: 45px;
        font-size: 25px;
    }
    main .ii .ii-i .btn-cont{
        border: 3px solid #0066b8;
        background-color: #f2f2f2;
        position: absolute;
        padding: 0 !important;
        left: 88px;
        text-align: left;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }
    main .ii .ii-ii{
        background-color: #25252b;
        margin: 0 auto;
        margin-top: 15px !important;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        color: rgba(255,255,255,.6);
        font-size: 13px;
    }
    main .ii .ii-ii,
    main .ii .ii-iii{
        width: 300px;
    }
    main .ii .ii-iii{
        width: 200px;
    }
    main .ii .ii-ii a{
        color: #0066b8;
        text-decoration: none;
    }
    main .ii .ii-iii{
        margin: 20px auto;
        color: rgba(255,255,255,.6);
        font-size: 13px;
    }
    main .ii .ii-iii a{
        color: #0066b8;
        text-decoration: none;
    }
    main .ii .ii-i .btn-cont table{
        border-collapse: collapse;
    }
    main .ii .ii-i .btn-cont table tr td{
        padding: 10px;
        font-size: 14px;
    }
    main .ii .ii-i .btn-cont table tr:nth-of-type(2) td:nth-of-type(3),
    main .ii .ii-i .btn-cont table tr:nth-of-type(3) td:nth-of-type(3),
    main .ii .ii-i .btn-cont table tr:nth-of-type(4) td:nth-of-type(3),
    main .ii .ii-i .btn-cont table tr:nth-of-type(2) td:nth-of-type(4),
    main .ii .ii-i .btn-cont table tr:nth-of-type(3) td:nth-of-type(4),
    main .ii .ii-i .btn-cont table tr:nth-of-type(4) td:nth-of-type(4){
        color: #0066b8;
    }
    main .ii .ii-i .btn-cont table tr td:last-child{
        background-color: #c5c5c5;
    }
    main .ii .ii-i .btn-cont table tr td:first-child{
        font-weight: 900;
    }   
    main .ii .ii-i .btn-cont .btn-i{
        padding: 10px;
        border-top: 1px solid;
        display: flex;
        justify-content: center;
    }
    main .ii .ii-i .btn-cont .btn-i .btn-i-i a{
        color: #0066b8;
        text-decoration: none;
        text-align: center;
    }
    main .ii .ii-iv img{
        width: 100%;
    }
    main .iii{
        display: flex;
        flex-wrap: wrap;
    }
    main .iii div{
        width: 225px;
        margin: 0 auto;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
    }
    main .iii div i{
        width: 45px;
        height: 45px;
        border: 1px solid;
        margin-bottom: 15px;
    }
    main .iii div:hover{
        background-color: #c5c5c5;
    }
    main .iv button{
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 900;
        border-radius: 100px;
        position: absolute;
        z-index: 5;
        top: 250px;
    }
    main .iv button:nth-of-type(2){
        right: 30px;
    }
    main .iv button:nth-of-type(1){
        left: 30px;
    }
    main .iv{
        position: relative;
        padding: 50px 70px !important;
        background-color: #f2f2f2;
    }
    main .iv .carousel{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    main .iv .carousel .inline-flex{
        display: inline-flex;
    }
    main .iv .carousel .inline-flex .box-i,
    main .iv .carousel .inline-flex .box-ii{
        width: 345px;
    }
    main .iv .carousel .inline-flex .box-i .box-cont{
        position: relative;
        display: flex;
    }
    main .iv .carousel .inline-flex .box-i .box-cont img{
        width: 60px;
        height: 60px;
        box-shadow: 0px 1px 1px 0px #000;
        border-radius: 100px;
    }
    main .iv .carousel .inline-flex .box-i .box-cont i{
        position: absolute;
        right: 15px;
        top: 15px;
    }
    main .v{
        position: relative;
    }
    main .v .v-i .img,
    main .v .v-ii .img,
    main .v .v-iv .img,
    main .v .v-iii .img,
    main .v .v-v .img{
        display: flex;
        justify-content: center;
    }
    main .v .v-i .img img,
    main .v .v-ii .img img,
    main .v .v-iii .img img,
    main .v .v-iv .img img,
    main .v .v-v .img img{
        width: 250px;
        padding: 30px;
        padding-bottom: 0;
    }
    main .v .v-iv .img img:hover{
        transform: scale(1.05);
        cursor: pointer;
        transition: transform linear .3s;
    }
    main .v .v-ii,
    main .v .v-iv,
    main .v .v-vi{
        background-color:#f2f2f2;
    }
    main .v .v-vi{
        padding: 50px 0;
        padding-bottom: 80px;
    }
    main .v .v-vi p{
        text-align: center;
        font-size: 20px;
    }
    main .v .v-vi .v-vi-flex,
    main .v .v-vi .v-vi-flex .v-vi-i .v-vi-cont,
    main .v .v-vi .v-vi-flex .v-vi-ii .v-vi-cont{
        display: flex;
    }
    main .v .v-vi .v-vi-flex .v-vi-i .v-vi-cont{
        width: 250px;
    }
    main .v .v-vi .v-vi-flex .v-vi-i .v-vi-cont,
    main .v .v-vi .v-vi-flex .v-vi-ii .v-vi-cont{
        align-items:center;
    }
    main .v .v-vi .v-vi-flex .v-vi-i .v-vi-cont,
    main .v .v-vi .v-vi-flex .v-vi-ii .v-vi-cont{
        padding: 10px;
    }
    main .v .v-vi .v-vi-a{
        display: flex;
        justify-content: center;
    }
    main .v .v-vi .v-vi-a a{
        color: #0066b8;
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 70px;
    }
    main .v .v-vi .btn-group{
        display: flex;
        justify-content: center;
    }
    main .v .v-vi .btn-group button{
        padding: 20px 50px;
        background-color: #0066b8;
        color: #fff;
        border: 1px solid #fff;
        font-size: 20px;
    }
    main .vi .vi-i{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    main .vi .vi-i .img-i i{
        width: 100px;
        height: 100px;
        border: 1px solid;
    }
    main .vi .vi-i .btn-group button{
        border:none;
        background-color: #0066b8;
        padding: 7px 80px;
        color: #fff;
    }
    main .vi .vi-i .btn-group button div:first-child{
        font-size: 18px;
    }
    main .vi .vi-i .btn-group button div:last-child{
        font-size: 11px !important;
    }
    main .vi .vi-i .vi-man .vi-man-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    main .vi .vi-i .vi-man .vi-man-flex > div{
        margin: 5px 0;
        text-align: center;
    }
    main .vi .vi-i .vi-man .vi-man-flex > div:nth-of-type(1){
        margin-right: 5px;
        width: 120px;
    }
    main .vi .vi-i .vi-man{
        margin-top: 20px;
    }
    main .vi .vi-i .vi-man .vi-man-flex > div > *{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    main .vi .vi-i .vi-man .vi-man-flex p{
        margin-right: 10px;
    }
    main .vi .vi-i .vi-man .vi-man-flex span{
        margin-right: 5px;
        background-color: #0066b8;
        color: #fff;
    }
    main .vi .vi-i img,
    main .vi .vi-ii img{
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    main .vi .vi-i .vi-i-cont{
        width: 250px;
        margin-top: 15px;
    }
    main .vi .vi-i .vi-i-cont .vi-i-cont-i,
    main .vi .vi-i .vi-i-cont .vi-i-cont-ii,
    main .vi .vi-i .vi-i-cont .vi-i-cont-iii,
    main .vi .vi-i .vi-i-cont .vi-i-cont-iv{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    main .vi .vi-i .vi-i-cont .vi-i-cont-i .vi-i-cont-i-i,
    main .vi .vi-i .vi-i-cont .vi-i-cont-ii .vi-i-cont-ii-i,
    main .vi .vi-i .vi-i-cont .vi-i-cont-iii .vi-i-cont-iii-i,
    main .vi .vi-i .vi-i-cont .vi-i-cont-iv .vi-i-cont-iv-i{
        text-align: center;
        font-weight: bold;
        width: 140px;
    }
}